@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.mainbody {
  font-family: 'Baloo Paaji 2', cursive;
  font-size: 1.4em;
  background-color: rgba(0, 0, 0, 0.466);
  color: lawngreen;
}

a {
  color: dodgerblue;
}

p {
  margin: 1em;
}

ul {
  list-style: none;
}


.invertText {
  background-color: lawngreen;
  color: rgb(0, 0, 0);
  width: 100%;
  padding: 0.4em;
}

.codeBlock {
  font-family: 'Share Tech Mono', monospace;
}

